
:root{
    --height-item:450px
}
.strategic-item-wrap {
    background: #fae6d2;
    height: var(--height-item);
    max-width: 360px !important;
    border-radius: 90px 0;
}

.strategic-item-content {
    max-width: 460px !important;
    background: #fff;
    box-shadow: 0 4px 18px rgba(0, 0, 0, .05);
    border-radius: 90px 0;
    position: relative;
    right: 20px;
    bottom: 20px;
    height: 440px;
    display: flex;
    flex-direction: column;
    padding: 50px 40px;
    overflow: hidden;
}

.strategic-item-content p {
    font-size: 14px !important;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0;
    height: 240px;
    overflow-y: auto;
}

.person-title {
    font-size: 22px !important;
    font-weight: 600;
    line-height: 31px;
    letter-spacing: -.3px;
}

 .person-content {
    font-size: 16px !important;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0;
    margin-top: 4px;
}