.hexagon {
    position: absolute; /* Thêm để hỗ trợ định vị cho before và after */
    width: calc(150px * 0.645);
    height: 150px;
    background-image: linear-gradient(90deg, #4b5552, #c3cac8);
    border-radius: calc(150px / 10);
    right: 47.5%;
    top: 1250px;
  }
  
  .hexagon:hover {
    animation: rotate 1.5s linear infinite;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

  .hexagon:before,
  .hexagon:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: inherit;
    height: inherit;
    background-image: inherit;
    border-radius: inherit;
  }
  
  .hexagon:before {
    transform: rotate(60deg);
  }
  
  .hexagon:after {
    transform: rotate(-60deg);
  }
  
  /* Base Styling */





  :root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --green: hsl(120, 79%, 50%);
    --varyDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
}


.corevalues

.corevalues .attribution { 
    font-size: 11px; text-align: center; 
}
.corevalues .attribution a { 
    color: hsl(228, 45%, 44%); 
}



.corevalues h1 {
    color: var(--varyDarkBlue);
}

@media (max-width: 400px) {
    .corevalues  h1 {
        font-size: 1.5rem;
    }
}

.corevalues .header {
    text-align: center;
    line-height: 0.8;
    margin-bottom: 50px;
    padding-top: 20px;
}

.corevalues .header p {
    margin: 0 auto;
    line-height: 2;
    color: var(--grayishBlue);
}


.corevalues .box p {
    color: var(--grayishBlue);
}

.corevalues .box {
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
    padding: 30px;
    margin: 20px;  
}

.corevalues img {
    max-width: 64px;
    max-height: 64px;
    float: right;
}

@media (max-width: 450px) {
    .hexagon{
        display: none;
    }
    .corevalues   .box {
        height: 200px;
    }
}

@media (max-width: 950px) and (min-width: 450px) {
    .hexagon{
        display: none;
    }
    .corevalues   .box {
        text-align: center;
        height: 180px;
    }
}

.corevalues .cyan {
    border-top: 3px solid var(--cyan);
}
.corevalues .red {
    
    border-top: 3px solid var(--red);
}
.corevalues .blue {
    border-top: 3px solid var(--blue);
}
.corevalues .orange {
    border-top: 3px solid var(--orange);
}
.corevalues .green {
    border-top: 3px solid var(--green);
}

.corevalues h2 {
    color: var(--varyDarkBlue);
    font-weight: var(--weight3);
}


@media (min-width: 950px) {
  
    .corevalues    .row1-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .corevalues .row2-container {
        margin-top: 17%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .corevalues .box-down {
        position: relative;
        top: 250px;
    }
    .corevalues .box {
        width: 20%;
    }
    .corevalues .row2-container  .box {
        height: 250px;
    }
    .corevalues  .header p {
        width: 30%;
    }
    
}   