.mappar{

    background-color: rgb(216, 142, 45);
    width: 100%;
    height: 100%;
}
.maprouter{
    position: relative;
    left: 1%;
    bottom: 4%;
    width: 100%;
    height: 100%;
 
    
}