.bg-1{
    background-color: #ffff;
}

.bg-2{
    background-color: #f9fafb;
}

.btn{
    max-width: 200px;
}
:root{
    --bg-orange: #fc7321;
    --br-orange-hove: #ff975c;
}
.btn-orange{
    color: #fff !important;
    background-color: var(--bg-orange) !important;
    border-color:var(--bg-orange) !important;
}
.btn-orange:hover{
    color: #fff;
    background-color: var(--br-orange-hove) !important;
    border-color: var(--br-orange-hove) !important;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }
  
  /* Đảm bảo rằng thân trang web không có overflow */
  html, body {
    overflow-x: hidden;
  }

@media only screen and (max-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1430px !important;
    }
}
@media  only screen and (max-width: 768px) {
    .container, .container-md, .container-sm {
        max-width: 100% !important;}
    }