@import url('https://fonts.googleapis.com/css?family=Exo+2:400,700&subset=cyrillic');

/* html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Exo 2', sans-serif;
  line-height: 1.5;
} */

.wrapper {
    margin-top: 5%;
  /* margin: 0 auto; */
  padding: 0 16.66% 50px;
  width: 100%;
 
}

article {
  position: relative;
  /* max-width: 1040px; */
  margin: 0 auto;
}


/* timeline nav */
.timeline__nav {
  position: absolute;
  z-index: 99;
  top: 50%;
  transition: top .3s ease-out;
  height: 100%;
}

.timeline__nav ul {
  list-style: none;
  list-style-position: inside;
  margin: 15px 0;
}

.timeline__nav li {
  margin: 15px 0;
  padding-left: 0;
  list-style-type: none;
  color: #bfc1c3;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all .3s ease-out;
}


.timeline__nav li.active {
  font-weight: bold;
  color: #f94125;
   border-bottom: 1px dotted transparent; 
  /* transform: scale(1.2); */
}

.timeline__nav li:hover {
  color: #000;
}

.timeline__nav ul, li {
    list-style: none;
    padding-right: 10px;
}
.timeline__nav li {
    border-left: 1px solid #abaaed;
    position: relative;
    margin-left: 10px;
  
}
.timeline__nav li span{
    padding-left: 20px;
}
.timeline__nav li:before {
    content: "";
    width: 15px;
    height: 15px;
    background: white;
    border: 1px solid #4e5ed3;
    box-shadow: 3px 3px 0px #bab5f8;
    box-shadow: 3px 3px 0px #bab5f8;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    top: 0px;
}
.timeline__nav li.active::before
{
    content: "";
    width: 15px;
    height: 15px;
    background: orange;
    border: 1px solid #e9c420;
    box-shadow: 3px 3px 0px #f4f8b5;
    box-shadow: 3px 3px 0px #f4f8b5;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    top: 0px;
}
/* end timeline nav */


  
.milestone {
  padding-top: 60px;
  border-bottom: 1px solid #ccc;
}

.milestone h2 {
  font-size: 24px;
  /* margin-bottom: 10px; */
}

.nav-tabs{
    margin-top: 2%;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
    color: #cdcccc;
    font-size: 22px !important;
    font-weight: 600 !important;
    font-family: Inter, sans-serif !important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover {
    color: #060505 !important;
    border-bottom: 1px solid #f94125 !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    
    color: rgb(0, 0, 0);
    border-top: 1px  solid #f94125 !important; 
    border-left: 1px  solid #f94125 !important; 
    border-right    : 1px  solid #f94125 !important; 
   
}