

.about-us{
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.about-us .block-our-business-title {
    font-size: 41px;
    font-weight: 600;
    line-height: 53px;
    letter-spacing: -.02em;
    font-size: 28px;
    letter-spacing: -.02em;
    text-align: left;
}

.about-us .block-our-business-desc-title {
    font-size: 16px !important;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0;
    text-align: left;
    float: left;
    margin-top: 10px;
    color: #0e1830;
}

.k-hel img{
  max-width: 600px;
  max-height: 400px;
}