.parallelogram {
    transform: skew(-10deg);
margin-right: 50px;
border-radius: 70px 0;

    width: 595px;
    height: 450px;  
}
.parallelogram .back{
    position: absolute;
    bottom: 10px;
    left: 15px;
    width: 75%;
    height: 100%;
    transform: skew(-1deg);
    background-color: orange;
    border-radius: 90px 0;
    z-index: 1;
}
.parallelogram img {
    position: relative;
    width: 80%;
    margin-left: 20px;
    max-height: 450px;
border-radius: 90px 0;
z-index: 2 !important;
}
.bg-centre{
    position: absolute;    
    width: 100%;
    height: 60%;
    margin-top: 23%;
    z-index: -100   ;
}
